gradio
python-dotenv
langchain
langchain-core
langchain-community
langchain-mistralai



# docker build -t my-gradio-project .
# docker run -p 7860:7860 --env-file .env my-gradio-project 
# docker-compose up --build